body{
    background-image: url(Fundotwo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100%; 
}
.container h1{
justify-content: center;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: #fff;
font-size: 1.8em;
margin-top: -20%;
text-transform: uppercase;
text-align: center;
font-weight: 600;
line-height: 1em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
} 
